{% extends 'base.html' %}
{%load static%}


{% block title %}Home | Akila{% endblock %}

{% block content %}
<div class="text-center">
  <img src="{% static 'images/profile.png' %}" 
       alt="Profile Picture"
       class="rounded-circle shadow mb-4"
       style="width: 200px; height: 200px; object-fit: cover;">
  <h1 class="fw-bold">Hi, I'm Akila</h1>
  <p class="lead">Python Full Stack Trainee | Web Developer</p>
  <a href="{% url 'projects_page' %}" class="btn btn-warning btn-lg">View My Work</a>
</div>
{% endblock %}
